.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 880px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 41px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 767px) {
  .header {
    flex-direction: column;
    width: 320px;
    padding-top: 0;
    padding-bottom: 32px;
  }
}
