.form__title {
    margin: 0;
    padding: 0;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #fff;
    width: 100%;
    margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
    .form__title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 40px;
    }
}
  